
#title {

    background-color: #ff4c67;
    color: #fff;
}

container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-size: 3rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
}

.title-image {
    width: 60%;
    transform:rotate(25deg);
    position: absolute;
    right: 30px;
    z-index: ;
    
}

#features {
    background-color: #fff;
    padding: 7% 15%
    position: absolute;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
    margin: auto;
    text-indent: 15px;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    
}

p {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
   
    text-align: center;
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

.papilo {
    background-color: #fff;
    width: 100%;
    height: 50%;
    
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}


#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
   
}


.cta-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}




@media (max-width: 1000px ) {

    #title {
        text-align: center;
    }




    .title-image {
        position: static;
        transform: rotate(0);

    }



}


#footer {


}

.download-button {
    
}
